<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Early Detection of Chronic Kidney Disease using Machine Learning</title>
    <link href="{{ url_for('static', filename='css/style1.css') }}" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <nav>
      <div class="logo">CHRONIC KIDNEY DISEASE DETECTION</div>
      <ul>
        <li><a class="active" href="{{url_for('home')}}">Home</a></li>
        <li><a class="active"href="{{url_for('predict')}}">Predictor</a></li>
      </ul>
    </nav>
    <br>
    <div class="kidneyd"><image src="{{url_for('static', filename='images/image1.jpeg')}}" style="height:240px;margin-left:38%" class="center"/></div>
    <h1 style="margin-left:97px; font-size:18px">ABOUT THE DISEASE</h1>
    <p style="margin-left:97px; font-size:18px">
      <br>
    Chronic kidney disease (CKD) is a type of kidney disease in which there is gradual loss of kidney function over a period of months to years.
    Initially there are generally no symptoms. Later, symptoms may include leg swelling, feeling tired, vomiting, loss of appetite, and confusion.
    Complications can relate to hormonal dysfunction of the kidneys and include (in chronological order) high blood pressure (often related to activation of the Renin-Angiotensin-Aldosterone system), bone disease, and anemia.
    Additionally CKD patients have markedly increased cardiovascular complications with increased risks of death and hospitalization.
    Causes of chronic kidney disease include diabetes, high blood pressure, glomerulonephritis, and polycystic kidney disease.Risk factors include a family history of chronic kidney disease.Diagnosis is by blood tests to measure the estimated glomerular filtration rate (eGFR), and a urine test to measure albumin.
    Ultrasound or kidney biopsy may be performed to determine the underlying cause.Several severity-based staging systems are in use.
    Treatments for anemia and bone disease may also be required.Severe disease requires hemodialysis, peritoneal dialysis, or a kidney transplant for survival.


    </p>
    <br>
    <h1 style="margin-left:97px; font-size:18px">SIGNS AND SYMPTOMS</h1>
    <p style="margin-left:97px; font-size:18px"> 
    <br>
    Signs and symptoms of chronic kidney disease develop over time if kidney damage progresses slowly. Loss of kidney function can cause a buildup of fluid or body waste or electrolyte problems.
    <ul style="margin-left:120px; font-size:18px">
    <li>Nausea</li>
    <li>Vomiting</li>
    <li>Loss of appetite</li>
    <li>Fatigue and weakness</li>
    <li>Sleep problems</li>
    <li>Urinating more or less</li>
    <li>Muscle cramps</li>
    <li>Decreased mental sharpness</li>
    <li>Swelling of feet and ankles</li>
    <li>Dry, itchy skin</li>
    <li>High blood pressure (hypertension) that's difficult to control</li>
    <li>Shortness of breath, if fluid builds up in the lungs</li>
    <li>Chest pain, if fluid builds up around the lining of the heart</li>
    </ul>

    </p>
    <br>

      <h1 style="margin-left:97px; font-size:18px">HOW TO KEEP KIDNEY HEALTHY</h1>
    <br>
    <p style="margin-left:97px; font-size:18px">
    <ul style="margin-left:120px; font-size:18px">
    <li>Be Fit and Active</li>
    <li>Stop smoking</li>
    <li>Avoid carbonated soft drinks</li>
    <li>Drink plenty of water</li>
    <li>Certain other medications, toxins, pesticides and illegal drugs (such as heroin and cocaine) can also cause kidney damage</li>
    <li>Take medications as directed</li>
       <li>Keep your blood pressure in the target range</li>
    <li>Stay in your target cholesterol range</li>
    <li>Eat foods lower in salt</li>
      <li>Eat more fruits and vegetables</li>
      <li>Keep your weight in target range</li>
    </ul>

    </p>

  </body>
</html>
